<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Codescandy">

    <!-- Google tag (gtag.js) -->
    <script async="" src="/allCss/gtag/js?id=G-M8S4MT3EYG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-M8S4MT3EYG');
    </script>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/allCss/dashuipro/assets/images/favicon/favicon.ico">

    <!-- Color modes -->
    <script src="/allCss/dashuipro/assets/js/vendors/color-modes.js"></script>

    <!-- Libs CSS -->
    <link href="/allCss/dashuipro/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/allCss/dashuipro/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/allCss/dashuipro/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/allCss/dashuipro/assets/css/theme.min.css">

    <title>Activity - Admin Dashboard Template</title>
    <link href="/allCss/dashuipro/assets/libs/dropzone/dist/dropzone.css" rel="stylesheet">
</head>

<body>
<main id="main-wrapper" class="main-wrapper">

    <th:block th:include="fragment/userMenu::mainPanel"></th:block>

    <div id="app-content">

        <!-- Container fluid -->
        <div class="app-content-area">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">

                        <div class=" mb-5">
                            <h3 class="mb-0 fw-bold">Edit</h3>

                        </div>

                    </div>
                </div>
                <div class="row mb-8">
                    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                        <div class="mb-4 mb-lg-0">
                            <h4 class="mb-1">Edit Setting</h4>
                            <p class="mb-0 fs-5 text-muted">Profile configuration settings </p>
                        </div>

                    </div>

                    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                        <!-- card -->
                        <div class="card">
                            <!-- card body -->
                            <div class="card-body">
                                <div class=" mb-6">
                                    <h4 class="mb-1">General Settings</h4>
                                </div>
                                <div>
                                    <div class="mb-6">
                                        <h4 class="mb-1">User information</h4>

                                    </div>
                                    <form action="/auth/edit-profile" method="post" enctype="multipart/form-data">
                                        <label for="fullName" class="col-sm-4 col-form-label
                                form-label">Image</label>
                                        <div class="file-upload btn btn-outline-white ms-4">
                                            <input type="file" class="file-input opacity-0" name="image">Upload
                                            Photo
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="fullName" class="col-sm-4 col-form-label
                                form-label">Full name</label>
                                            <div class="col-sm-4 mb-3 mb-lg-0">
                                                <input type="text" class="form-control" placeholder="First name"
                                                       id="fullName" required="" th:value="${currentUser.getName}"
                                                       name="name">
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="Last name"
                                                       id="lastName" required="" th:value="${currentUser.getSurname}"
                                                       name="surname">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="email" class="col-sm-4 col-form-label
                                form-label">Email</label>
                                            <div class="col-md-8 col-12">
                                                <input type="email" class="form-control" placeholder="Email" id="email"
                                                       required="" th:value="${currentUser.getEmail}" name="email">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="phone" class="col-sm-4 col-form-label
                                form-label">Phone <span class="text-muted">(Optional)</span></label>
                                            <div class="col-md-8 col-12">
                                                <input type="text" class="form-control" placeholder="Phone" id="phone"
                                                       required="" th:value="${currentUser.getPhone}" name="phone">
                                            </div>
                                        </div>
                                        <div class="offset-md-4 col-md-8 mt-4">
                                            <button type="submit" class="btn btn-primary"> Save
                                                Changes
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-8">
                    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                        <div class="mb-4 mb-lg-0">
                            <h4 class="mb-1">Email Setting</h4>
                            <p class="mb-0 fs-5 text-muted">Add an email settings to profile </p>
                        </div>

                    </div>

                    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                        <!-- card -->
                        <div class="card" id="edit">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="mb-6 mt-6">
                                    <h4 class="mb-1">Change your password</h4>
                                </div>
                                <form action="/auth/change-password" method="post">
                                    <!-- row -->
                                    <div class="mb-3 row">
                                        <label for="currentPassword" class="col-sm-4
                              col-form-label form-label">Current password</label>

                                        <div class="col-md-8 col-12">
                                            <input type="password" class="form-control"
                                                   placeholder="Enter Current password" id="currentPassword"
                                                   required="" name="oldPassword">
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="mb-3 row">
                                        <label for="currentNewPassword" class="col-sm-4
                              col-form-label form-label">New password</label>

                                        <div class="col-md-8 col-12">
                                            <input type="password" class="form-control" placeholder="Enter New password"
                                                   id="currentNewPassword" required="" name="newPassword">
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="row align-items-center">
                                        <label for="confirmNewpassword" class="col-sm-4
                              col-form-label form-label">Confirm new password</label>
                                        <div class="col-md-8 col-12 mb-2 mb-lg-0">
                                            <input type="password" class="form-control"
                                                   placeholder="Confirm new password" id="confirmNewpassword"
                                                   required="" name="confirmPassword">
                                        </div>
                                        <!-- list -->
                                        <div class="offset-md-4 col-md-8 col-12 mt-4">
                                            <h6 class="mb-1">Password requirements:</h6>
                                            <p>Ensure that these requirements are met:</p>
                                            <ul>
                                                <li> Minimum 8 characters long the more, the better</li>
                                                <li>At least one lowercase character</li>
                                                <li>At least one uppercase character</li>
                                                <li>At least one number, symbol, or whitespace character
                                                </li>
                                            </ul>
                                            <button type="submit" class="btn btn-primary">Save
                                                Changes
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                        <div class="mb-4 mb-lg-0">
                            <h4 class="mb-1">Delete Account</h4>
                            <p class="mb-0 fs-5 text-muted">Easily set up social media accounts</p>
                        </div>

                    </div>

                    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                        <div class="card mb-6">

                            <div class="card-body">
                                <div class="mb-6">
                                    <h4 class="mb-1">Danger Zone </h4>

                                </div>
                                <div>
                                    <!-- text -->
                                    <p>Delete any and all content you have, such as articles, comments, your reading
                                        list or chat messages. Allow your username to become available to anyone.</p>
                                    <a href="/auth/delete-profile" class="btn btn-danger">Delete Account</a>
                                    <p class="small mb-0 mt-3">Feel free to contact with any <a
                                            href="#">GoBooking.com</a>
                                        questions.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Scripts -->
<script src="/allCss/dashuipro/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<!-- Libs JS -->

<script src="/allCss/dashuipro/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/allCss/dashuipro/assets/libs/feather-icons/dist/feather.min.js"></script>
<script src="/allCss/dashuipro/assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="/allCss/dashuipro/assets/js/theme.min.js"></script>

</body>

</html>