<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Codescandy">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google tag (gtag.js) -->
    <script async="" src="./../gtag/js?id=G-M8S4MT3EYG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-M8S4MT3EYG');
    </script>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/allCss/dashuipro/assets/images/favicon/favicon.ico">

    <!-- Color modes -->
    <script src="/allCss/dashuipro/assets/js/vendors/color-modes.js"></script>

    <!-- Libs CSS -->
    <link href="/allCss/dashuipro/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/allCss/dashuipro/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/allCss/dashuipro/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/allCss/dashuipro/assets/css/theme.min.css">

    <title>Activity - Admin Dashboard Template</title>
</head>

<body>
<d id="main-wrapper" class="main-wrapper">



    <th:block th:include="fragment/userMenu::mainPanel"></th:block>


    <!-- page content  -->
    <div id="app-content">

        <!-- Container fluid -->
        <div class="app-content-area">
            <div class="container-fluid">

                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <!-- Bg -->
                        <div class="pt-20 rounded-top"
                             style="background:url(/allCss/dashuipro/assets/images/background/profile-cover.jpg)no-repeat; background-size: cover;">
                        </div>
                        <div class="card rounded-bottom smooth-shadow-sm">
                            <div class="d-flex align-items-center justify-content-between
                  pt-4 pb-6 px-4">
                                <!-- avatar -->
                                <div class="d-flex align-items-center">
                                    <div class="avatar-xxl avatar-indicators avatar-online me-2
                      position-relative d-flex justify-content-end
                      align-items-end mt-n10">
                                        <img th:src="@{/getImage(imageName=${currentUser.getPictureName()})}" class="avatar-xxl
                        rounded-circle border border-2 " alt="Image">
                                    </div>
                                    <!-- content -->
                                    <div class="lh-1">
                                        <h2 class="mb-0"><p
                                                th:text="${currentUser.getName()   + currentUser.getSurname()}"></p>
                                            <a href="#!" class="text-decoration-none">
                                            </a>
                                        </h2>
                                        <p class="mb-0 d-block" th:text="${currentUser.getEmail()}">></p>
                                    </div>
                                </div>

                            </div>
                            <!-- nav -->
                            <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="/director/create-company" th:if="${company == null}">Create Company</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/director/subscription" th:if="${company!=null}">Subscriptions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/auth/create-card">Add Card</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:history.back()">Back</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- page content -->
                <div class="py-6">
                    <div class="row">
                        <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                            <!-- row -->
                            <form action="/director/send-role-change-request" method="get">
                                <div class="row align-items-center mb-6">
                                    <div class="col-lg-6 col-md-12 col-12">
                                        <!-- form -->
                                        <input type="search" class="form-control" placeholder="email" name="keyword">
                                    </div>


                                    <div class="col-lg-6 col-md-12 col-12 d-flex justify-content-end"
                                         style="width: 30px">
                                        <!-- form -->
                                        <div>
                                            <button type="submit"
                                                    style="border: none; background: none; cursor: pointer;">
                                                <i class='bx bx-search-alt-2'></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>

                            <!-- hr -->

                            <div class="mb-8">

                                <!-- im avelcracs-->
                                <main class="card">
                                    <!-- list group -->
                                    <ul class="list-group list-group-flush">
                                        <!-- list group item -->
                                        <li class="list-group-item p-3"
                                            th:each="userDto : ${userDtoList}">
                                            <div class="d-flex justify-content-between
                                             align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <!-- img -->
                                                    <div>
                                                        <img th:src="@{/getImage(imageName=${userDto.getPictureName()})}"
                                                             alt="Image" class="avatar-sm rounded-circle">
                                                    </div>
                                                    <!-- content -->
                                                    <div class="ms-3">
                                                        <p class="mb-0
                                                     font-weight-medium"
                                                           th:text="${userDto.getEmail()}">
                                                            <</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <!-- dropdown -->
                                                    <div class="dropdown dropstart">
                                                        <form th:action="@{/director/send-role-change-request}" method="post"
                                                              style="display: inline;">
                                                            <input type="hidden" name="companyId"
                                                                   th:value="${companyId}">
                                                            <input type="hidden" name="employeeId"
                                                                   th:value="${userDto.getId()}">
                                                            <input type="hidden" name="agree" value="true">
                                                            <button type="submit"
                                                                    style="border: none; background: none; cursor: pointer;">
                                                                <i class='bx bx-send' style="font-size: 20px;"></i>
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                        </li>


                                        <!--im avelcras \-->

                                </main>
                                <div style="margin: 25px 0 0 50px;">
                                    <div th:if="${pageNumbers != null}" class="pagination"
                                         th:each="pageNumber : ${pageNumbers}">
                                        <a th:href="@{/director/send-role-change-request(pageNumer=${pageNumber - 1})}"
                                           th:text="${pageNumber}"
                                           style="color: #333333"></a>
                                    </div>
                                </div>


                                <!-- Scripts -->

                                <!-- Libs JS -->

                                <script src="/allCss/dashuipro/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                                <script src="/allCss/dashuipro/assets/libs/feather-icons/dist/feather.min.js"></script>
                                <script src="/allCss/dashuipro/assets/libs/simplebar/dist/simplebar.min.js"></script>

                                <!-- Theme JS -->
                                <script src="/allCss/dashuipro/assets/js/theme.min.js"></script>

                                <!-- popper js -->
                                <script src="/allCss/dashuipro/assets/libs/%40popperjs/core/dist/umd/popper.min.js"></script>
                                <!-- tippy js -->
                                <script src="/allCss/dashuipro/assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
                                <script src="/allCss/dashuipro/assets/js/vendors/tooltip.js"></script>
                            </div>
</body>

</html>