<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Codescandy">

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/allCss/dashuipro/assets/images/favicon/favicon.ico">

    <!-- Color modes -->
    <script src="/allCss/dashuipro/assets/js/vendors/color-modes.js"></script>

    <!-- Libs CSS -->
    <link href="/allCss/dashuipro/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/allCss/dashuipro/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/allCss/dashuipro/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/allCss/dashuipro/assets/css/theme.min.css">
    <link rel="stylesheet" href="/director/addCompany.css">


</head>

<body>

<div class="container">
    <div class="col-12 mt-3" style="margin-bottom: 20px">
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
    </div>
    <form class="row g-3 needs-validation" action="/director/create-company" method="post">
        <input type="hidden" name="directorId" th:value="${currentUser.getId()}">
        <div class="col-md-4">
            <label for="companyName" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="companyName" required placeholder="Company Name" name="name">
        </div>
        <div class="col-md-4">
            <label for="companyPhone" class="form-label">Company Phone</label>
            <input type="text" class="form-control" id="companyPhone" required placeholder="Company Phone" name="phone">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-3">
            <label for="countrySelect" class="form-label">Country</label>
            <select  name="countryId" class="form-select" id="countrySelect" required>
                <option th:each="country : ${countries}" th:text="${country.name}" th:value="${country.id}"></option>
            </select>
            <div class="invalid-feedback">
                Please select a valid country.
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="form-label">Region</label>
            <input type="text" class="form-control" id="region" placeholder="Region" name="region" required>
            <div class="invalid-feedback">
                Please provide a valid region.
            </div>
        </div>
        <div class="col-md-6">
            <label for="region" class="form-label">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
            <div class="invalid-feedback">
                Please provide a valid region.
            </div>
        </div>
        <div class="col-md-4">
            <label for="companyUsername" class="form-label">Street</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="companyUsername" required name="street">
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="companyUsername" class="form-label">Apartment Number</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="company street" required name="apartmentNumber">
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Add Company</button>
        </div>
    </form>

</div>

</body>
</html>
