<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GO Booking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/global/favicon.ico">
    <link href="/global/all/css/style.css" rel="stylesheet">
</head>

<body>
<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="index.html#content">
    <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
    </div>
</a>
<div id="loading" class="preloader">
    <div class="spinner-border text-primary" role="status" >
        <span class="sr-only">Loading...</span>
    </div>
</div>
<header class="header-main header-dark fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/global/index.html">
                <h1><a href="/">GoBooking</a></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="dropdown nav-item">
                        <a href="index.html#" class="nav-link">Demos</a>
                        <label class="dropdown-toggle mob-menu" data-bs-toggle="dropdown"></label>
                        <div class="dropdown-menu shadow-lg">
                            <a class="dropdown-item" href="/global/index.html">Landing 1</a>
                            <a class="dropdown-item" href="/global/index-02.html">Landing 2</a>
                            <a class="dropdown-item" href="/global/index-03.html">Landing 3</a>
                            <a class="dropdown-item" href="/global/index-04.html">Landing 4</a>
                            <a class="dropdown-item" href="/global/index-05.html">Landing 5</a>
                            <a class="dropdown-item" href="/global/index-06.html">Landing 6</a>
                            <a class="dropdown-item" href="/global/index-07.html">Landing 7</a>
                            <a class="dropdown-item" href="/global/index-08.html">Landing 8</a>
                            <a class="dropdown-item" href="index.html">Landing 9</a>
                            <a class="dropdown-item" href="/global/index-10.html">Landing 10</a>
                            <a class="dropdown-item" href="/global/index-11.html">Landing 11</a>
                            <a class="dropdown-item" href="/global/index-12.html">Landing 12</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="index.html#" class="nav-link">Pages</a>
                        <label class="dropdown-toggle mob-menu" data-bs-toggle="dropdown"></label>
                        <div class="dropdown-menu shadow-lg">
                            <a class="dropdown-item" href="/global/about-1.html">About 1</a>
                            <a class="dropdown-item" href="/global/about-2.html">About 2</a>
                            <a class="dropdown-item" href="/global/services-1.html">Services 1</a>
                            <a class="dropdown-item" href="/global/services-2.html">Services 2</a>
                            <a class="dropdown-item" href="/global/portfolio.html">Portfolio</a>
                            <a class="dropdown-item" href="/global/team.html">Team</a>
                            <a class="dropdown-item" href="/global/single-team.html">Team Single</a>
                            <a class="dropdown-item" href="/global/contact-us.html">Contact Us</a>
                            <a class="dropdown-item" href="/global/faq.html">Faq's</a>
                        </div>
                    </li>
                    <li class="dropdown dropdown-xl nav-item">
                        <a href="index.html#" class="nav-link">Elements</a>
                        <label class="dropdown-toggle mob-menu" data-bs-toggle="dropdown"></label>
                        <div class="dropdown-menu shadow-lg px-mega-menu p-2 p-lg-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 my-3">
                                        <h6 class="mm-title">Elements</h6>
                                        <ul class="mm-link">
                                            <li><a href="/global/accordions.html"><i
                                                    class="ti-layout-accordion-separated"></i> Accordions</a></li>
                                            <li><a href="/global/blockquote.html"><i class="ti-quote-left"></i>
                                                Blockquote</a></li>
                                            <li><a href="/global/button.html"><i class="ti-mouse"></i> Button</a></li>
                                            <li><a href="/global/call-to-action.html"><i class="ti-headphone-alt"></i>
                                                Call to action</a></li>
                                            <li><a href="/global/client-carousel.html"><i class="ti-layout-slider"></i>
                                                Client carousel</a></li>
                                            <li><a href="/global/clients.html"><i class="ti-layout-slider"></i> Clients</a>
                                            </li>
                                            <li><a href="/global/columns.html"><i class="ti-layout-column3-alt"></i>
                                                Columns</a></li>
                                            <li><a href="/global/video.html"><i class="ti-video-camera"></i> Video</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 my-3">
                                        <h6 class="mm-title">Elements</h6>
                                        <ul class="mm-link">
                                            <li><a href="/global/counters.html"><i class="ti-timer"></i> Counters</a>
                                            </li>
                                            <li><a href="/global/google-map.html"><i class="ti-location-pin"></i> Google
                                                map</a></li>
                                            <li><a href="/global/heading.html"><i class="ti-text"></i> Heading</a></li>
                                            <li><a href="/global/highlights.html"><i class="ti-underline"></i>
                                                Highlights</a></li>
                                            <li><a href="/global/icon-with-text.html"><i
                                                    class="ti-layout-media-left"></i> Icon with text</a></li>
                                            <li><a href="/global/interactive-banners.html"><i class="ti-image"></i>
                                                Interactive banners</a></li>
                                            <li><a href="/global/lists.html"><i class="ti-list"></i> Lists</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 my-3">
                                        <h6 class="mm-title">Elements</h6>
                                        <ul class="mm-link">
                                            <li><a href="/global/message-box.html"><i
                                                    class="ti-layout-media-right-alt"></i> Message box</a></li>
                                            <li><a href="/global/pie-chart.html"><i class="ti-pie-chart"></i> Pie chart</a>
                                            </li>
                                            <li><a href="/global/pricing-table.html"><i
                                                    class="ti-layout-grid2-thumb"></i> Pricing table</a></li>
                                            <li><a href="/global/process-bar.html"><i class="icon-hourglass"></i>
                                                Process bar</a></li>
                                            <li><a href="/global/process-step.html"><i class="ti-stats-up"></i> Process
                                                step</a></li>
                                            <li><a href="/global/seperators.html"><i class="ti-layout-line-solid"></i>
                                                Seperators</a></li>
                                            <li><a href="/global/social-icons.html"><i class="ti-signal"></i> Social
                                                icons</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 my-3">
                                        <h6 class="mm-title">Elements</h6>
                                        <ul class="mm-link">
                                            <li><a href="/global/subscribe.html"><i class="ti-bookmark"></i>
                                                Subscribe</a></li>
                                            <li><a href="/global/tabs.html"><i class="ti-layout-tab"></i> Tabs</a></li>
                                            <li><a href="/global/teams.html"><i class="ti-user"></i> Team</a></li>
                                            <li><a href="/global/team-carousel.html"><i class="ti-layout-slider"></i>
                                                Team carousel</a></li>
                                            <li><a href="/global/testimonials.html"><i class="ti-thought"></i>
                                                Testimonials</a></li>
                                            <li><a href="/global/testimonials-carousel.html"><i class="ti-comments"></i>
                                                Testimonials Carousel</a></li>
                                            <li><a href="/global/text-slider.html"><i
                                                    class="ti-layout-media-overlay"></i> Text Slider</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="index.html#" class="nav-link">Blog</a>
                        <label class="dropdown-toggle mob-menu" data-bs-toggle="dropdown"></label>
                        <div class="dropdown-menu shadow-lg">
                            <a class="dropdown-item" href="/global/blog.html">Blog</a>
                            <a class="dropdown-item" href="/global/blog-single.html">Blog Single</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/global/contact-us.html" class="nav-link">
                            Contact Us
                        </a>
                    </li>

                    <li class="nav-item"  th:if="${currentUser == null}">
                        <a href="/user/login" class="nav-link">
                            Login
                        </a>
                    </li>
                    <li class="nav-item" th:if="${currentUser == null}">
                        <a href="/user/register" class="nav-link">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="parallax effect-section" data-jarallax-video="https://vimeo.com/274361642">
        <div class="mask bg-black opacity-7"></div>
        <div class="container position-relative">
            <div class="row justify-content-center align-items-center min-vh-100 py-12">
                <div class="col-lg-9 col-xl-8 my-4 text-center">
                    <h1 class="display-1 text-white">GoBooking convenient and fast</h1>
                    <div class="pt-4">
                        <a class="btn btn-primary" href="/user/login">
                            <span class="btn--text">GET STARTED</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<script src="/global/all/js/jquery-3.5.1.min.js"></script>
<script src="/global/all/vendor/appear/jquery.appear.js"></script>
<script src="/global/all/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/global/all/vendor/counter/jquery.countTo.js"></script>
<script src="/global/all/vendor/typed/typed.js"></script>
<script src="/global/all/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<script src="/global/all/vendor/magnific/jquery.magnific-popup.min.js"></script>
<script src="/global/all/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="/global/all/vendor/svginjector/svg-injector.min.js"></script>
<script src="/global/all/vendor/jarallax/jarallax-all.js"></script>
<script src="/global/all/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/global/all/vendor/mail/js/form.min.js"></script>
<script src="/global/all/vendor/mail/js/script.js"></script>
<script src="/global/all/js/custom.js"></script>
</body>
</html>